@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");
* {
  box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Lato',
      sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.4;
      color: #1cb8b8;
      margin: auto;
      padding: 0;
      width: 100%; 
  }

body::before {
    content:'';
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: silver;
    background-image: linear-gradient(115deg, rgba(11, 6, 75, 0.3), rgba(23, 134, 168, 0.3)), url("jigar-panchal-ZmJhjN15nqo-unsplash.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

  .container {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    background: #1d252b;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    border-radius: 10px;
    width: unset;
    min-width: auto;
    max-width: 700px;
    margin: 2rem auto 2rem auto;
    padding: 2.5rem;
    background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 20px, transparent 1px, transparent 500px),
    repeating-linear-gradient(-225deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 20px, transparent -1px, transparent 500px);
  }

  .container-item {
    max-width: 600px;
    margin: auto;
    text-align: center;
    margin: 0.5rem;
    background-color: none;
    padding: 0;
    border-radius: 5px;
  }

  #profile_pic, img {
    width: 100%;
    display: block;
    max-width: 250px;
    max-height: 250px;
    margin: auto;
    border-radius: 50%;
    border: silver dashed;
    object-fit: cover;
    overflow: hidden;
    opacity: 1; /*I thought this will make my image not transparent, 
                but it did'nt work. I would appreciate your help on this. Thank you!*/
  }

  #full_name {
    font-weight: 300;
    color: #1cb8b8;    
  }

  #job_title {
    color: silver;
    font-style: italic;
    font-size: 14px;
  }

  #short_bio {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
  }

  #short_bio p {
    padding: 0 20px;
  }

  #current_location {
    display: grid;
    grid-template-columns: 1fr 2fr; /* First column takes 1 fraction, second takes 2 fractions */
    grid-column-gap: 20px; /* Gap between columns */
    grid-row-gap: 20px; /* Gap between rows */
    text-align: left;
    padding-left: 20px;
    color: silver;
  }

  .first {
    color: #1cb8b8;
    font-weight: bold;
  }

  #email_address i {
    color: silver;
  }

  #social_links {
    padding-top: 1rem;
  }

  #current_time_in_UTC {
    font-weight: bold;
  }

  .fa {
    color: silver;
    font-size: 3rem;
    padding: 0 20px;
    transition: transform 0.2s, filter 0.2s;
  }
  
 .fa:hover {
    color:#1cb8b8;
    transform: scale(1.2);
    filter: brightness(1.5);
  }

 @media (max-width: 768px), (min-width: 620px) {
    .container {
        max-width: 600px;
        margin: 2rem auto;
    }
  }
  
 @media (max-width: 576px) {
    .container {
        max-width: 510px;
        padding: 1.5rem 0.5rem 0.5rem;
        margin: 1rem auto 1rem;
    }
  }
  
 @media (max-width: 480px) {
    .container {
        max-width: 430px;
        padding: 1.5rem 0.5rem 0.5rem;
        margin: auto;
        border-radius: 0;
    }
  }
  
